*.txt
Projects/*/.vs
Projects/*/Build
Projects/*/Binaries
Projects/*/Plugins/*/Binaries
Projects/*/DerivedDataCache
Projects/*/Intermediate
Projects/*/Plugins/*/Intermediate
Projects/*/Saved
Projects/*/*.sln
Projects/*/__pycache__
Reports/*/~*
